* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
:root {
  --main-color: #ff900e;
}
/* Share style */
.title-color {
  color: var(--Dark-01, #131313);
}
.p-color {
  color: var(--Dark-03, #727272);
}
.primary-button {
  padding: 20px 28px;
  border: none;
  border-radius: 8px;
  background: var(--main-color);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
/* nav section */
.nav-container {
  width: 100%;
  background: rgba(255, 144, 14, 0.1);
}
.nav-container .nav-content {
  max-width: 1340px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container .nav-content h1 {
  font-size: 45px;
  font-size: 2.5rem;
}
.nav-container .nav-content > ul {
  display: flex;
  list-style: none;
}
.nav-container .nav-content ul li {
  padding: 0 20px;
}
.nav-container .nav-content ul li a {
  text-decoration: none;
  color: var(--Dark-02, #424242);
}

/* Hero section */
.hero {
  width: 100%;
  background: rgba(255, 144, 14, 0.1);
}
.hero-container {
  max-width: 1340px;
  margin: 0 auto;
  text-align: center;
}
.hero-container .hero-content {
  max-width: 868px;
  margin: 0 auto;
  padding: 116px 0 50px 0;
}
.hero-container .hero-content p {
  padding: 30px 0;
}
.hero-container .hero-content h1 {
  font-size: 64px;
}
.hero-img img {
  width: 100%;
  padding-bottom: 20px;
}

/* Feature section */
.features-container {
  max-width: 1340px;
  margin: 0 auto;
  padding-top: 85px;
}
.features-container .features-content {
  display: flex;
  align-items: center;
}
.features-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.features-text-content {
  padding-left: 70px;
}
.features-text-content h1 {
  font-size: 45px;
}
.features-text-content h1 .span-quick {
  font-weight: 500;
  color: #727272;
}
.features-text-content h1 .span-feature {
  color: var(--main-color);
}
.features-text-content {
  width: 537px;
}
.features-text-content p {
  padding: 30px 0;
}

/* Love and enjoy section */
.love-enjoy-container {
  max-width: 1340px;
  margin: 0 auto;
  padding-top: 130px;
}
.love-enjoy-container .love-enjoy-content {
  display: flex;
  align-items: center;
}
.header-content h1 {
  font-size: 45px;
  border-left: 6px solid var(--main-color);
  padding-left: 20px;
}
.header-content p {
  padding-top: 24px;
}
.text-content .cards {
  margin-top: 30px;
}
.text-content .cards .card {
  padding: 30px 33px;
  width: 510px;
  box-shadow: 0 0 6px 6px #f7f7f7;
  border-radius: 10px;
  margin: 20px 0;
}
.text-content .cards .card h3 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.love-enjoy-img {
  width: 80%;
}
.love-enjoy-img img {
  width: 100%;
}
.exprience {
  width: 342px;
  height: 200px;
  padding: 38px 38px;
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  position: relative;
  bottom: 120px;
  right: 70px;
}
.exprience h1 {
  font-size: 65px;
}
.exprience p {
  font-size: 25px;
}
/* Responsive for mobile device */
@media (max-width: 576px) {
  .nav-container .nav-content {
    flex-direction: column;
  }
  .hero-container .hero-content h1 {
    font-size: 48px;
  }
  .nav-container .nav-content h1 {
    font-size: 2rem;
    padding-top: 20px;
  }
  .hero-container .hero-content {
    padding: 80px 30px 50px 30px;
  }
  .hero-img img {
    padding: 20px 30px;
  }
  .primary-button {
    padding: 15px 25px;
    font-size: 16px;
  }

  /* Features section */
  .features-container .features-content {
    flex-direction: column;
  }
  .features-imgs {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .features-text-content {
    padding: 30px 30px;
    text-align: center;
  }
  .features-text-content h1 {
    font-size: 40px;
  }

  /* love and enjoy section */
  .love-enjoy-container .love-enjoy-content {
    flex-direction: column;
  }
  .love-enjoy-img {
    padding: 20px;
  }
  .exprience h1 {
    font-size: 55px;
  }
  .text-content {
    padding: 0 30px;
  }
}

/* Responsive for Medium devices */
@media (min-width: 576px) and (max-width: 768px) {
  .nav-container .nav-content {
    flex-direction: column;
  }
  .hero-container .hero-content {
    padding: 80px 30px 50px 30px;
  }
  .hero-img img {
    padding: 20px 30px;
  }

  .primary-button {
    padding: 15px 25px;
    font-size: 16px;
  }

  /* features section */
  .features-container .features-content {
    flex-direction: column;
  }
  .features-text-content {
    text-align: center;
    padding: 30px;
  }
}

/* love and enjoy section */
.text-content .cards .card {
    width: 586px;
    margin: 20px;
}

/* Responsive for large devices */
@media (min-width: 768px) and (max-width: 992px) {
  .features-container .features-content {
    flex-direction: column;
  }
  .features-text-content {
    text-align: center;
    padding: 30px;
  }
}
